<!DOCTYPE html>
<html>
  <head>
    <title>Player Form</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      use_mpg: 
      <input type="text" name="use_mpg">
      <br> min_mpg:
      <input type="text" name="min_mpg">
      <br> max_mpg:
      <input type="text" name="max_mpg">
      <br> use_ppg:
      <input type="text" name="use_ppg">
      <br> min_ppg:
      <input type="text" name="min_ppg">
      <br> max_ppg:
      <input type="text" name="max_ppg">
      <br> use_rpg:
      <input type="text" name="use_rpg">
      <br> min_rpg:
      <input type="text" name="min_rpg">
      <br> max_rpg:
      <input type="text" name="max_rpg">
      <br> use_apg:
      <input type="text" name="use_apg">
      <br> min_apg:
      <input type="text" name="min_apg">
      <br> max_apg:
      <input type="text" name="max_apg">
      <br> use_spg:
      <input type="text" name="use_spg">
      <br> min_spg:
      <input type="text" name="min_spg">
      <br> max_spg:
      <input type="text" name="max_spg">
      <br> use_bpg:
      <input type="text" name="use_bpg">
      <br> min_bpg:
      <input type="text" name="min_bpg">
      <br> max_bpg:
      <input type="text" name="max_bpg">
      <input type="submit" value="OK">
    </form>
  </body>
</html>
